* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-image: url(./assets/mountains-universe-1.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

nav a{
    text-decoration: none;
    color: #C4C4CC;
    font-size: 2.2rem;
    line-height: 2.2rem;
}
nav a:hover {
    font-weight: 700;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem;

    margin-top: 4rem;
    margin-left: 7.2rem;
}

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #E1E1E6;
    font-size: 4.8rem;
    line-height: 125%;
}

p {
    color: #E1E1E6;
    font-size: 1.8rem;
    line-height: 160%;
}